<% include partials/header %>
<div class="container centrado">
    <div class="row mt-5">
        <div class="col-md-5">

            <div class="card-body">
                    <a href="/pedido" class="btn btn-dark btn-primary btn-lg btn-block container ">PEDIDO</a>   
                    
                    <a href="/pedido" class="btn btn-dark btn-primary btn-lg btn-block container ">PEDIDO</a>   
                    <a href="/pedido" class="btn btn-dark btn-primary btn-lg btn-block container ">PEDIDO</a>   
                    <a href="/pedido" class="btn btn-dark btn-primary btn-lg btn-block container ">PEDIDO</a>   
                    <a href="/pedido" class="btn btn-dark btn-primary btn-lg btn-block container ">PEDIDO</a>   
                    
            </div>
            
        </div>
    </div>
</div>


<% include partials/footer %>