<% include partials/header %>

<div class="container"> 
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                        <form action ="/update" method="POST"> 
                            <div class="form-group">
                                <input type="text" name="username" value="<% data.username %>" class="form-control"> 
                            </div>
                            <div class="form-group">
                                <input type="text" name="nombre" value="<% data.nombre %>" class="form-control"> 
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellido" value="<% data.apellido %>" class="form-control"> 
                            </div>
                            <div class="form-group">
                                    <input type="text" name="CI" value="<% data.CI%>" class="form-control"> 
                            </div>
                            <div class="form-group">
                                    <input type="text" name="password" value="<% data.password %>" class="form-control"> 
                            </div>
                            <button type="submit" class="btn-primary"> INGRESAR</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>