<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>links</title>

    {{!--Google apis--}}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    {{!--bootstrap 4 --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!--fontawesome--}}
    <script src="https://kit.fontawesome.com/d0e440a148.js" crossorigin="anonymous"></script>
    {{!--estilos--}}
    <link rel="stylesheet" href="/css/style.css">
</head>
        {{> navigation }}

        {{{body}}}
<body>
    
  

</body>
</html>  